<footer>
  <link
    href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
    rel="stylesheet"
    id="bootstrap-css"
  />
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->

 
  <div id="footer">
    <div class="container">
      <div class="row">
        <h3 class="footertext">About Us:</h3>
        <br/>    <br/>
         <div>
        <div class="col-md-4">

       <div class="align">
            <img
              src="http://oi60.tinypic.com/w8lycl.jpg"
              class="img-circle"
              alt="the-brains"
            />
            <br />   <br />

            <h4 class="footertext">Programmer</h4>
            <p class="footertext">
              You can thank all the crazy programming here to this guy.<br />
            </p>
          </div>
        </div>
        <br />  

        <div class="col-md-4">
            <div class="align">
            <img
              src="http://oi60.tinypic.com/2z7enpc.jpg"
              class="img-circle"
              alt="..."
            />
            <br />
            <h4 class="footertext">Artist</h4>
            <p class="footertext">
              All the images here are hand drawn by this man.<br />
            </p>
         </div>
        </div>

        <div class="col-md-4">
            <div class="align">
            <img
              src="http://oi61.tinypic.com/307n6ux.jpg"
              class="img-circle"
              alt="..."
            />
            <br />   <br />
            <h4 class="footertext">Designer</h4>
            <p class="footertext">
              This pretty site and the copy it holds are all thanks to this
              guy.<br />
            </p>
          </div>
        </div>
      </div>
    </div>
      <div class="row">
        <p>
            <div class="align">
            
            <p class="footertext"><a href="#">Contact Stuff Here</a> &nbsp; Copyright 2019</p>
          </div>
   
      </div>
    </div>
  </div>
</footer>
